USE [TPBakery]
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 06/12/2017 15:25:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPN] [int] IDENTITY(1,1) NOT NULL,
	[NGAYNHAP] [datetime] NULL,
	[XOA] [bit] NULL,
	[MALOAISP] [int] NULL,
 CONSTRAINT [PK_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PHIEUNHAP] ON
INSERT [dbo].[PHIEUNHAP] ([MAPN], [NGAYNHAP], [XOA], [MALOAISP]) VALUES (1, CAST(0x0000A76800000000 AS DateTime), 0, 3)
INSERT [dbo].[PHIEUNHAP] ([MAPN], [NGAYNHAP], [XOA], [MALOAISP]) VALUES (2, CAST(0x0000A76900000000 AS DateTime), 0, 5)
INSERT [dbo].[PHIEUNHAP] ([MAPN], [NGAYNHAP], [XOA], [MALOAISP]) VALUES (3, CAST(0x0000A77E00000000 AS DateTime), 0, 16)
SET IDENTITY_INSERT [dbo].[PHIEUNHAP] OFF
/****** Object:  Table [dbo].[LOAISP]    Script Date: 06/12/2017 15:25:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISP](
	[MALOAI] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAISP] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LOAISP] ON
INSERT [dbo].[LOAISP] ([MALOAI], [TENLOAI]) VALUES (1, N'Cupcake')
INSERT [dbo].[LOAISP] ([MALOAI], [TENLOAI]) VALUES (2, N'Cookies')
INSERT [dbo].[LOAISP] ([MALOAI], [TENLOAI]) VALUES (3, N'Tiramisu')
SET IDENTITY_INSERT [dbo].[LOAISP] OFF
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 06/12/2017 15:25:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[SDT] [nvarchar](11) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [EMAIL], [SDT]) VALUES (1, N'Đại Sở', N'332 đường Cách Mạng Tháng Tám, Q.Tân Bình Tp HCM', N'nguyenso9696@gmail.com', N'0933612255')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [EMAIL], [SDT]) VALUES (2, N'Lý Cẩm Gấu', N'516 đường Phạm Thế Hiển Q8, TpHCM', N'ly.camnhi96@gmail.com', N'0933322219')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [EMAIL], [SDT]) VALUES (3, N'Lê Ngọc Trum', N'29 đường Hồ Thị Kỷ Q5 QpHCM', N'trumdontcare@gmail.com', N'0122311889')
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 06/12/2017 15:25:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[IDUSER] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [nvarchar](50) NULL,
	[PASSWORD] [nvarchar](50) NULL,
 CONSTRAINT [PK_TAIKHOAN_1] PRIMARY KEY CLUSTERED 
(
	[IDUSER] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TAIKHOAN] ON
INSERT [dbo].[TAIKHOAN] ([IDUSER], [USERNAME], [PASSWORD]) VALUES (1, N'admin', N'123456')
INSERT [dbo].[TAIKHOAN] ([IDUSER], [USERNAME], [PASSWORD]) VALUES (2, N'user', N'123456')
INSERT [dbo].[TAIKHOAN] ([IDUSER], [USERNAME], [PASSWORD]) VALUES (4, N'Yorn', N'025874963')
SET IDENTITY_INSERT [dbo].[TAIKHOAN] OFF
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 06/12/2017 15:25:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [int] IDENTITY(1,1) NOT NULL,
	[TENSP] [nvarchar](50) NOT NULL,
	[DONGIA] [float] NULL,
	[MOTA] [nvarchar](100) NULL,
	[LUOTXEM] [int] NULL,
	[MALOAI] [int] NULL,
	[HINHANH] [nvarchar](50) NULL,
	[HINHANH1] [nvarchar](50) NULL,
	[HINHANH2] [nvarchar](50) NULL,
	[XOA] [bit] NULL,
	[SOLUONGTON] [int] NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SANPHAM] ON
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [DONGIA], [MOTA], [LUOTXEM], [MALOAI], [HINHANH], [HINHANH1], [HINHANH2], [XOA], [SOLUONGTON]) VALUES (1, N'Happy birthday mum cake', 30, N'Happy BirthDay Cake for Children', 5, 8, N'happy-cake.jpg', N'happy-cake-1.jpg', N'happy-cake-2.jpg', 0, 10)
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [DONGIA], [MOTA], [LUOTXEM], [MALOAI], [HINHANH], [HINHANH1], [HINHANH2], [XOA], [SOLUONGTON]) VALUES (2, N'Present cake', 30, N'Happy BirthDay Cake for Children', 6, 8, N'pres-cake.jpg', N'pres-cake-1.jpg', N'pres-cake-2.jpg', 0, 10)
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [DONGIA], [MOTA], [LUOTXEM], [MALOAI], [HINHANH], [HINHANH1], [HINHANH2], [XOA], [SOLUONGTON]) VALUES (4, N'Soft iced happy birthday cake', 35, N'Happy BirthDay Cake for Children', 10, 8, N'iced-cake.jpg', N'iced-cake.jpg', N'iced-cake.jpg', 0, 20)
SET IDENTITY_INSERT [dbo].[SANPHAM] OFF
/****** Object:  Table [dbo].[DONDATHANG]    Script Date: 06/12/2017 15:25:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONDATHANG](
	[MADONDH] [int] IDENTITY(1,1) NOT NULL,
	[MAKH] [int] NULL,
	[MASP] [int] NULL,
	[NGAYDAT] [datetime] NULL,
	[NGAYGIAO] [datetime] NULL,
	[HUY] [bit] NULL,
	[XOA] [bit] NULL,
	[GIAOHANG] [bit] NULL,
	[THANHTOAN] [bit] NULL,
 CONSTRAINT [PK_DONDATHANG] PRIMARY KEY CLUSTERED 
(
	[MADONDH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DONDATHANG] ON
INSERT [dbo].[DONDATHANG] ([MADONDH], [MAKH], [MASP], [NGAYDAT], [NGAYGIAO], [HUY], [XOA], [GIAOHANG], [THANHTOAN]) VALUES (5, 9, 27, CAST(0x0000A61A00000000 AS DateTime), CAST(0x0000A61900000000 AS DateTime), 0, 0, 1, 1)
INSERT [dbo].[DONDATHANG] ([MADONDH], [MAKH], [MASP], [NGAYDAT], [NGAYGIAO], [HUY], [XOA], [GIAOHANG], [THANHTOAN]) VALUES (6, 3, 11, CAST(0x0000A65D00000000 AS DateTime), CAST(0x0000A65E00000000 AS DateTime), 0, 0, 1, 1)
INSERT [dbo].[DONDATHANG] ([MADONDH], [MAKH], [MASP], [NGAYDAT], [NGAYGIAO], [HUY], [XOA], [GIAOHANG], [THANHTOAN]) VALUES (7, 10, 6, CAST(0x0000A78F00000000 AS DateTime), CAST(0x0000A65E00000000 AS DateTime), 0, 0, 0, 0)
SET IDENTITY_INSERT [dbo].[DONDATHANG] OFF
/****** Object:  Table [dbo].[CTPN]    Script Date: 06/12/2017 15:25:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPN](
	[MACTPN] [int] IDENTITY(1,1) NOT NULL,
	[MAPN] [int] NULL,
	[DONGIANHAP] [float] NULL,
	[SOLUONGNHAP] [int] NULL,
	[MASP] [int] NULL,
 CONSTRAINT [PK_CTPN] PRIMARY KEY CLUSTERED 
(
	[MACTPN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CTPN] ON
INSERT [dbo].[CTPN] ([MACTPN], [MAPN], [DONGIANHAP], [SOLUONGNHAP], [MASP]) VALUES (2, 1, 3, 20, 11)
INSERT [dbo].[CTPN] ([MACTPN], [MAPN], [DONGIANHAP], [SOLUONGNHAP], [MASP]) VALUES (3, 2, 2, 20, 24)
INSERT [dbo].[CTPN] ([MACTPN], [MAPN], [DONGIANHAP], [SOLUONGNHAP], [MASP]) VALUES (4, 3, 1, 20, 54)
SET IDENTITY_INSERT [dbo].[CTPN] OFF
/****** Object:  Table [dbo].[CTDDH]    Script Date: 06/12/2017 15:25:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDDH](
	[MACTDDH] [int] IDENTITY(1,1) NOT NULL,
	[MADONDH] [int] NULL,
	[MASP] [int] NULL,
	[TENSP] [nvarchar](50) NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [float] NULL,
 CONSTRAINT [PK_CTDDH] PRIMARY KEY CLUSTERED 
(
	[MACTDDH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CTDDH] ON
INSERT [dbo].[CTDDH] ([MACTDDH], [MADONDH], [MASP], [TENSP], [SOLUONG], [DONGIA]) VALUES (3, 5, 27, N'Tart Egg', 10, 100)
INSERT [dbo].[CTDDH] ([MACTDDH], [MADONDH], [MASP], [TENSP], [SOLUONG], [DONGIA]) VALUES (4, 6, 11, N'Macaron Matcha', 2, 14)
INSERT [dbo].[CTDDH] ([MACTDDH], [MADONDH], [MASP], [TENSP], [SOLUONG], [DONGIA]) VALUES (5, 7, 6, N'Floral lacework cake', 1, 40)
SET IDENTITY_INSERT [dbo].[CTDDH] OFF
/****** Object:  ForeignKey [FK_CTDDH_DONDATHANG]    Script Date: 06/12/2017 15:25:48 ******/
ALTER TABLE [dbo].[CTDDH]  WITH CHECK ADD  CONSTRAINT [FK_CTDDH_DONDATHANG] FOREIGN KEY([MADONDH])
REFERENCES [dbo].[DONDATHANG] ([MADONDH])
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [FK_CTDDH_DONDATHANG]
GO
/****** Object:  ForeignKey [FK_CTDDH_SANPHAM]    Script Date: 06/12/2017 15:25:48 ******/
ALTER TABLE [dbo].[CTDDH]  WITH CHECK ADD  CONSTRAINT [FK_CTDDH_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [FK_CTDDH_SANPHAM]
GO
/****** Object:  ForeignKey [FK_CTPN_PHIEUNHAP]    Script Date: 06/12/2017 15:25:48 ******/
ALTER TABLE [dbo].[CTPN]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_PHIEUNHAP] FOREIGN KEY([MAPN])
REFERENCES [dbo].[PHIEUNHAP] ([MAPN])
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [FK_CTPN_PHIEUNHAP]
GO
/****** Object:  ForeignKey [FK_CTPN_SANPHAM]    Script Date: 06/12/2017 15:25:48 ******/
ALTER TABLE [dbo].[CTPN]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [FK_CTPN_SANPHAM]
GO
/****** Object:  ForeignKey [FK_DONDATHANG_KHACHHANG]    Script Date: 06/12/2017 15:25:48 ******/
ALTER TABLE [dbo].[DONDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONDATHANG_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DONDATHANG] CHECK CONSTRAINT [FK_DONDATHANG_KHACHHANG]
GO
/****** Object:  ForeignKey [FK_DONDATHANG_SANPHAM]    Script Date: 06/12/2017 15:25:48 ******/
ALTER TABLE [dbo].[DONDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONDATHANG_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[DONDATHANG] CHECK CONSTRAINT [FK_DONDATHANG_SANPHAM]
GO
/****** Object:  ForeignKey [FK_SANPHAM_LOAISP]    Script Date: 06/12/2017 15:25:48 ******/
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_LOAISP] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAISP] ([MALOAI])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_LOAISP]
GO
