<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>DapurKue | About </title>
    <style>
        k {
            color: aqua;
        }

        .social {
            text-align: center;
            padding-bottom: 80px;
        }

        ul.social-icons li {
            list-style: none;
            display: inline-block;
            margin: 10px;
        }

        ul.ava li {
            list-style: none;
            display: inline-block;
            margin: 70px;
        }

        ul.social-icons li a {
            opacity: 0.9;
        }

            ul.social-icons li a:hover {
                opacity: 5;
            }

        .navbar {
            overflow: visible;
            text-align: right;
            font-family: Times New Roman;
            font-size: 35px;
            word-spacing: 30px;
            letter-spacing: 2px;
        }

        ul.navbar-icons li {
            list-style: none;
            display: inline-block;
            margin: 3px;
        }

        .logogroup {
            max-width: 150px;
            width: 150px;
            max-height: 150px;
            height: 150px;
            padding: 0;
            border: 3px outset #00FFFF;
            -webkit-border-radius: 999px;
            -moz-border-radius: 999px;
            border-radius: 999px;
            margin-top: 2%;
            margin-left: 45%;
        }

        .avatar {
            max-width: 155px;
            width: 155px;
            max-height: 155px;
            height: 155px;
            padding: 0;
            border: 3px inset #999999;
            -webkit-border-radius: 999px;
            -moz-border-radius: 999px;
            border-radius: 999px;
            margin-top: 5%;
            margin-left: 22%;
        }
    </style>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" media="all" href="Content/960.css" />
    <link rel="stylesheet" type="text/css" media="all" href="Content/reset.css" />
    <link rel="stylesheet" type="text/css" media="all" href="Content/text.css" />
    <link rel="stylesheet" type="text/css" media="all" href="style.css" />
    <link rel="stylesheet" type="text/css" media="all" href="themes/brown/style.css" />
    <style type="text/css">
        <!--
        .style1 {
            font-size: 18px;
            font-weight: bold;
            font-style: italic;
            color: #00FFFF;
        }
        -->
    </style>
</head>
<body>
    
    <div id="warp">
        <div id="main" class="container_16">

            <div>
                <ul class="ava">
                    <li>
                        <a href="https://www.facebook.com/profile.php?id=100011122636220"><img src="~/images/NTTU.jpg" class="avatar" alt="NTTU"></a>
                        <p align="center" class="style1" style="margin-left:35%"> Shopkeeper </p>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/ngocphung.le.100?fref=ts"><img src="~/images/LNP.jpg" class="avatar" alt="LNP"></a>
                        <p align="center" class="style1" style="margin-left:35%"> Baker </p>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/profile.php?id=100014936056615&fref=ts"><img src="~/images/LCN.jpg" class="avatar" alt="LCN"></a>
                        <p align="center" class="style1" style="margin-left:35%"> Shipper </p>
                    </li>
                </ul>

            </div>

            @{Html.RenderAction("Infor", "MyComponent");}
            @{Html.RenderAction("Footer", "MyComponent");}

            </div>
        </div>
    
</body>
</html>