<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>DapurKue | About </title>
    <style>
        k {
            color: aqua;
        }

        .social {
            text-align: center;
            padding-bottom: 80px;
        }

        ul.social-icons li {
            list-style: none;
            display: inline-block;
            margin: 10px;
        }

        ul.ava li {
            list-style: none;
            display: inline-block;
            margin: 70px;
        }

        ul.social-icons li a {
            opacity: 0.9;
        }

            ul.social-icons li a:hover {
                opacity: 5;
            }

        .navbar {
            overflow: visible;
            text-align: right;
            font-family: Times New Roman;
            font-size: 35px;
            word-spacing: 30px;
            letter-spacing: 2px;
        }

        ul.navbar-icons li {
            list-style: none;
            display: inline-block;
            margin: 3px;
        }

        .logogroup {
            max-width: 150px;
            width: 150px;
            max-height: 150px;
            height: 150px;
            padding: 0;
            border: 3px outset #00FFFF;
            -webkit-border-radius: 999px;
            -moz-border-radius: 999px;
            border-radius: 999px;
            margin-top: 2%;
            margin-left: 45%;
        }

        .avatar {
            max-width: 155px;
            width: 155px;
            max-height: 155px;
            height: 155px;
            padding: 0;
            border: 3px inset #999999;
            -webkit-border-radius: 999px;
            -moz-border-radius: 999px;
            border-radius: 999px;
            margin-top: 5%;
            margin-left: 22%;
        }
    </style>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" media="all" href="Content/960.css" />
    <link rel="stylesheet" type="text/css" media="all" href="Content/reset.css" />
    <link rel="stylesheet" type="text/css" media="all" href="Content/text.css" />
    <link rel="stylesheet" type="text/css" media="all" href="style.css" />
    <link rel="stylesheet" type="text/css" media="all" href="themes/brown/style.css" />
    <style type="text/css">
        <!--
        .style1 {
            font-size: 18px;
            font-weight: bold;
            font-style: italic;
            color: #00FFFF;
        }
        -->
    </style>
</head>
<body>
    <div id="warp">
        <div id="main" class="container_16">
            
            @*@{Html.RenderAction("Menu", "MyComponent");}*@
            
            <div>
                <ul class="ava">
                    <li>
                        <a href="1461133.html"><img src="images/NTTU.jpg" class="avatar" alt="NTTU"></a>
                        <p align="center" class="style1" style="margin-left:35%"> Shopkeeper </p>
                    </li>
                    <li>
                        <a href="1460754.html"><img src="images/LNP.jpg" class="avatar" alt="LNP"></a>
                        <p align="center" class="style1" style="margin-left:35%"> Baker </p>
                    </li>
                    <li>
                        <a href="1460691.html"><img src="images/LCN.jpg" class="avatar" alt="LCN"></a>
                        <p align="center" class="style1" style="margin-left:35%"> Shipper </p>
                    </li>
                </ul>

            </div>

            <div id="richContent2">
                <div class="container_16">
                    @*<div class="lastTweet grid_4">
                        <h4>Latest Tweets</h4>
                        <p><a href="#">@someone</a> yes indeed this is one hell of a free css template! <a href="#">Read More</a> <span><em>15 minutes ago</em></span></p>
                        <p><a href="#">@someone</a> yes indeed this is one hell of a free css template! <a href="#">Read More</a> <span><em>15 minutes ago</em></span></p>
                    </div>*@
                    <div class="corporateInfo grid_4">
                        <h4>Corporate Info</h4>
                        <ul>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Term &amp; Conditions</a></li>
                            <li><a href="#">Franchise</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                    <div class="storeDelivery grid_4">
                        <h4>Store &amp; Delivery</h4>
                        <ul>
                            <li><a href="#">Store Locator</a></li>
                            <li><a href="#">Delivery Terms &amp;amp Pricing</a></li>
                            <li><a href="#">Delivery Coverage</a></li>
                            <li><a href="#">Gift Services</a></li>
                            <li><a href="#">Track my order</a></li>
                        </ul>
                    </div>
                    <div class="socialNet grid_4">
                        <h4>Keep in touch</h4>
                        <ul>
                            <li><a href="https://www.facebook.com/groups/1397256243666157/" class="facebook">Facebook</a></li>
                            <li><a href="https://twitter.com/Tocpheobakery" class="twitter">Twitter</a></li>
                            <li><a href="#" class="feed">Feed</a></li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div id="footer">
                <div class="container_16">
                    <div class="copyright grid_16">
                        <p class="left">Copyright &copy; 2010, Your Company Here, All Rights Reserved</p>
                        <p class="right">Design by <a href="http://tokokoo.com/">Tokokoo</a> &amp; <a href="http://www.instantshift.com/">instantShift</a></p>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
</body>
</html>