<div id="richContent">
    <div class="container_16">
        <div class="popularCakes grid_4">
            <h4>Popular Cakes</h4>
            <ul>
                <li><a href="#">Donut Minions</a></li>
                <li><a href="#">Cookies Japan</a></li>
                <li><a href="#">Cupcake Chocolate</a></li>
                <li><a href="#">Dorayaki Matcha</a></li>
                <li><a href="#">Cheese Oreo</a></li>
            </ul>
        </div>
        <div class="recommended grid_4">
            <h4>Recommended</h4>
            <ul>
                <li><a href="#">Cheese Oreo</a></li>
                <li><a href="#">Cupcake Chocolate</a></li>
                <li><a href="#">Macaron Full Color</a></li>
                <li><a href="#">Mochi Ice-Cream</a></li>
                <li><a href="#">Budding Mango</a></li>
            </ul>
        </div>
        <div class="specialOffer grid_4">
            <h4>Special Offer</h4>
            <ul>
                <li><a href="#">Tart Cheese</a></li>
                <li><a href="#">Cookies Original</a></li>
                <li><a href="#">Cheese Oreo</a></li>
                <li><a href="#">Macaron Rasberry</a></li>
                <li><a href="#">Cupcake White</a></li>
            </ul>
        </div>
        <div class="orderPhone grid_4">
            <h4><em>Order by Phone</em> <span>987-654-321</span></h4>
        </div>
        <div class="clear"></div>
    </div>
</div>
