<div id="mainMenu" class="grid_16">
    <ul>
        <li><a href="~/index.html" class="aActive">Home</a></li>
        <li><a href="~/product-overview.html">Cakes</a></li>
        <li><a href="~/checkout.html">Order &amp; Delivery</a></li>
        <li><a href="~/blog.html">Blog</a></li>
        <li><a href="~/about.html">About</a></li>
        <li><a href="~/contact.html">Contact</a></li>
    </ul>
</div>
