
@*<div id="warp">
    <div id="main" class="container_16" >*@
        <div class="products grid_16" style="margin-top:40px">
            <div class="productsWarp" style="padding-top:200px">
                
                <ul>
                    <li><a href="#"><img src="~/images/cake1.jpg" alt="" width="938" height="398" /></a></li>
                    <li><a href="#"><img src="~/images/cake2.jpg" alt="" width="938" height="398" /></a></li>
                    <li><a href="#"><img src="~/images/cake3.jpg" alt="" width="938" height="398" /></a></li>
                    <li><a href="#"><img src="~/images/cake4.jpg" alt="" width="938" height="398" /></a></li>
                    <li><a href="#"><img src="~/images/cake5.jpg" alt="" width="938" height="398" /></a></li>
                </ul>
            </div>
        </div>
    @*</div>
 
</div>*@
