
@{
    ViewBag.Title = "Notice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="warp">
    <div id="main" class="container_16">
        <div class="container">
            <div class="cart-items">
                <div class="in-check">
                    <div class="container">
                        <h2 style="color:#b6ff00;font-weight:bold;text-align:center">Sorry, we are out of …..</h2>
                        <br />
                        <h2> <a href="@Url.Action("Index","Home")" style="color:#b6ff00;text-align:center;font-weight:bold">Back to Home<<</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@{Html.RenderAction("InforCake", "MyComponent");}
@{Html.RenderAction("Infor", "MyComponent");}
@{Html.RenderAction("Footer", "MyComponent");}
