
@{
    ViewBag.Title = "Notice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="cart-items">
        <div class="in-check">
            <div class="container">
                <h2 style="color:#000000;font-weight:bold">Sorry, we are out of …..</h2>
                <br />
                <h2> <a href="@Url.Action("Index","Home")" style=" color:#000000;text-align:center;font-weight:bold">Return homepage!!^^</a></h2>
            </div>
        </div>
    </div>
</div>

