<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>DapurKue | Blog </title>
    <style>
        k {
            color: aqua;
        }

        .social {
            text-align: center;
            padding-bottom: 80px;
        }

        ul.social-icons li {
            list-style: none;
            display: inline-block;
            margin: 10px;
        }

        ul.ava li {
            list-style: none;
            display: inline-block;
            margin: 70px;
        }

        ul.social-icons li a {
            opacity: 0.9;
        }

            ul.social-icons li a:hover {
                opacity: 5;
            }

        .navbar {
            overflow: visible;
            text-align: right;
            font-family: Times New Roman;
            font-size: 35px;
            word-spacing: 30px;
            letter-spacing: 2px;
        }

        ul.navbar-icons li {
            list-style: none;
            display: inline-block;
            margin: 3px;
        }

        .logogroup {
            max-width: 150px;
            width: 150px;
            max-height: 150px;
            height: 150px;
            padding: 0;
            border: 3px outset #00FFFF;
            -webkit-border-radius: 999px;
            -moz-border-radius: 999px;
            border-radius: 999px;
            margin-top: 2%;
            margin-left: 45%;
        }

        .avatar {
            max-width: 155px;
            width: 155px;
            max-height: 155px;
            height: 155px;
            padding: 0;
            border: 3px inset #999999;
            -webkit-border-radius: 999px;
            -moz-border-radius: 999px;
            border-radius: 999px;
            margin-top: 5%;
            margin-left: 22%;
        }
    </style>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" media="all" href="Content/960.css" />
    <link rel="stylesheet" type="text/css" media="all" href="Content/reset.css" />
    <link rel="stylesheet" type="text/css" media="all" href="Content/text.css" />
    <link rel="stylesheet" type="text/css" media="all" href="style.css" />
    <link rel="stylesheet" type="text/css" media="all" href="themes/brown/style.css" />
    <style type="text/css">
        <!--
        .style1 {
            font-size: 24px;
            color: #FF66CC;
            font-weight: bold;
        }

        .style2 {
            font-size: 40px;
            color: #FF99FF;
            font-weight: bold;
        }

        .style3 {
            font-size: 16px;
            color: #66FF99;
            font-weight: bold;
        }

        .style4 {
            font-size: 14px;
            font-style: italic;
        }

        .style5 {
            font-size: 14;
            color: #FF00FF;
            font-weight: bold;
        }

        .style6 {
            color: #00CCFF;
        }

        .style7 {
            color: #66FFCC;
        }

        .style9 {
            font-size: 14px;
            font-weight: bold;
            color: #66FFCC;
        }

        .style11 {
            color: #00CCFF;
            font-weight: bold;
            font-size: 14px;
        }
        -->
    </style>
</head>
<body>
    <div id="warp">
        <div id="main" class="container_16">
            
            @{Html.RenderAction("MenuPartial", "Home");}
            
            <div>
                <h1 align="center" class="style2">
                    VALENTINE'S DAY GIFT GUIDE
                </h1>
                <p>
                    Valentine's Day is quickly approaching and it feels like we just wrapped the December holiday season. When it comes to Valentines gifts - some go big, some go small, some don't go at all. If you're in favor of gifts, it can be a challenge to come up with that something special after just exhausting all of your gift ideas for loved ones back in December.<br />
                    So I wanted to share some ideas to help spread the love around this year - I think we could all use a little more love right now, don't you? My favorite way to show love is through cooking and baking Valentines treats. But I know purchased gifts are the preferred option for many, and certainly always appreciated by the receiver! So here's some ideas for him, for her and for kids.<br />
                    <span class="style1">Valentine's Gift Ideas for Him</span><br />
                </p>
                <div align="center">
                    <img src="~/images/valhim.jpg" alt="Valentine for him">
                </div>
                <p>
                    <span class="style3">GIFTS FOR HIM:</span><br />
                <p align="center" class="style5 style7">
                    Whiskey Decanter   |   Copper Bottle Opener   |   Sphere Ice Molds   |   Minimalist Front Pocket Wallet   |   Hydro Flask Water Bottle   |   Bacon Letterpress Card    |   Bean Box Coffee Subscription   |   YETI Tumbler with Lid   |   Meat Loaf Letterpress Card   |   Timex Watch   |   Bamboo USB Charging Station   |   Brass Collar Stays   |   French Fries Letterpress Card   |   Chemex Glass Coffee Maker   |   Secret Wash Shirt   |   Weekender Bag<br />
                </p>
                <span class="style3">MY FAVORITE PICKS:</span><br />
                <span class="style9">Sphere Ice Molds:</span> these molds take drinks to a whole new level of cool. Water is transformed into ball shaped ice cubes that melt slowly into, say a glass of whiskey, or whatever is his drink of choice. BPA free and dishwasher safe.<br />
                <span class="style9">Bean Box Coffee Subscription:</span> for the guy who loves coffee, this is the ultimate way to try new blends. Sample sized bags of freshly roasted coffees from Seattle's top-rated, small-batch roasters, mailed to your guy once a month. I gave a subscription to my husband for his birthday and we both loved it so much that we gifted it to my dad for Christmas. Pair this with the Chemex Glass Coffee Maker and you'll have a pour-over coffee that rivals any coffee shop around.<br />
                <span class="style9">Secret Wash Shirt:</span> you can't go wrong with these shirts. So soft and comfy that your guy will actually want to wear it. In an array of patterns and plaids, they pair nicely with jeans now and will work with shorts once the weather warms up. Just roll up the sleeves and go.		<br />
                </p>
                <p>
                    <span class="style1">Valentine's Gift Ideas for Kids</span> <br />
                </p>
                <div align="center">
                    <img src="~/images/valkid.jpg" alt="Valentine for kid">
                </div>
                <p>
                    <span class="style3">GIFTS FOR KIDS:</span><br />
                <p align="center" class="style5 style6">
                    Cherry Cupcake Scratch and Sniff Cards   |   Bashful Beige Bunny   |   Heart Sunglasses   |   Valentine Tattoo Cards   | Pete the Cat Valentine's Book   |   Stripes The Long Earred Bunny   |   Ridley's Magic Set   |   Inspiration Art Case   |   PlayShapes Building Blocks   |   Mermaid Doll   |   Glitter Emoji Purse   | In My Heart Book   |   Strawberry Scratch and Sniff Cards<br />
                </p>
                <span class="style3">MY FAVORITE PICKS:</span><br />
                <span class="style11">Bashful Beige Bunny</span> - this brand of stuffed animals is the best, so soft and furry and lovable. My daughter is attached to her mumble puppy - it's been her favorite since she was teeny tiny.<br />
                <span class="style11">Pete the Cat</span> - Valentine's Day Is Cool: Pete The Cat books are always a big win in our house because they're great for beginning readers. This one is cute for Valentine's Day - but our current favorite is Pete The Cat and the Missing Cupcakes with its rhyming rhythm and adorable cupcake theme!<br />
                <span class="style11">Inspiration Art Case</span> - a suitcase full of washable crayons, markers and colored pencils to keep them creating for hours. My daughter has had this art case for over a year and it's still a go-to favorite. The suitcase container makes cleanup and storage a snap - plus it's easy to tote along.<br />
                <span class="style11">In My Heart Book</span> - this book made me misty-eyed the first time I read it. With beautiful illustrations, it covers emotions in a way that both you and your little one will love. It's such a good one!<br />
                </p>
                <p>
                    <span class="style1">Valentine's Gift Ideas for Her</span><br />
                </p>
                <div align="center">
                    <img src="~/images/valher.jpg" alt="Valentine for her">
                </div>
                <p align="left">
                    <span class="style3">GIFTS FOR HER:</span><br />
                <p align="center" class="style5">
                    Sweet Talk Pen Set   |   Valentine Cookie Cutter Set   |   Hugs and Kisses Ring   |   Love Potion Tumbler   |   J Crew Scarf   |   Heart Bracelet   |   Nested Heart Cookie Cutters   |   Pink Hearts Confetti Push Popper   |   Beats   |   Eyelashes Mug   |   Copper Bunny Ring Holder   |   Heart Canvas Tote Bag   |   After This Pizza Bottle   |   Jill Sunglasses   |   Heart Shaped Marshmallows   |   Complement Greeting Card Set   |   Heart Shaped Waffle Iron   |   Mimimalist Necklace   |   Kate Spade Eat Cake For Breakfast Tumbler   |   Pink Packable Jacket   |   Viktor & Rolf Flowerbomb   |   Heart Stud Earrings<br />
                </p>
                This list has you covered for everyone from your sister to your best friend and back. Who can resist all the pink cuteness, especially that adorable Eyelashes Mug! And no one will shy away from a complement card declaring you are better than unicorns and sparkles, combined!<br />
                I'd love to hear what you're planning for Valentine's Day! Share your traditions and gift ideas with us in the comment section. <br />
                Today's post contains affiliate links.<br />
                Find recipes and tutorials in our Valentine's Day Gallery!<br />
                <span class="style4">Valentine's Day Cakes, Cupcakes and Desserts on TheCakeBlog.com</span><br />
                </p>
            </div>

            <div id="richContent2">
                <div class="container_16">
                    @*<div class="lastTweet grid_4">
                        <h4>Latest Tweets</h4>
                        <p><a href="#">@someone</a> yes indeed this is one hell of a free css template! <a href="#">Read More</a> <span><em>15 minutes ago</em></span></p>
                        <p><a href="#">@someone</a> yes indeed this is one hell of a free css template! <a href="#">Read More</a> <span><em>15 minutes ago</em></span></p>
                    </div>*@
                    <div class="corporateInfo grid_4">
                        <h4>Corporate Info</h4>
                        <ul>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Term &amp; Conditions</a></li>
                            <li><a href="#">Franchise</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                    <div class="storeDelivery grid_4">
                        <h4>Store &amp; Delivery</h4>
                        <ul>
                            <li><a href="#">Store Locator</a></li>
                            <li><a href="#">Delivery Terms &amp;amp Pricing</a></li>
                            <li><a href="#">Delivery Coverage</a></li>
                            <li><a href="#">Gift Services</a></li>
                            <li><a href="#">Track my order</a></li>
                        </ul>
                    </div>
                    <div class="socialNet grid_4">
                        <h4>Keep in touch</h4>
                        <ul>
                            <li><a href="https://www.facebook.com/groups/1397256243666157/" class="facebook">Facebook</a></li>
                            <li><a href="https://twitter.com/Tocpheobakery" class="twitter">Twitter</a></li>
                            <li><a href="#" class="feed">Feed</a></li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div id="footer">
                <div class="container_16">
                    <div class="copyright grid_16">
                        <p class="left">Copyright &copy; 2010, Your Company Here, All Rights Reserved</p>
                        <p class="right">Design by <a href="http://tokokoo.com/">Tokokoo</a> &amp; <a href="http://www.instantshift.com/">instantShift</a></p>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
</body>
</html>