@using PheoBakery.Models;
@model IEnumerable<LOAISP>

@{
    ViewBag.Title = "Type Management";
    Layout = "~/Views/Admin/AdminQuanTri.cshtml";
    WebGrid grid = new WebGrid(source: Model, rowsPerPage: 20);
}
<style>
    .search-bar input[type="submit"] {
        background: url(../../Content/CssHome/images/search.png)no-repeat 0px 0px;
        outline: none;
        -webkit-appearance: none;
        border: 0;
        width: 30px;
    }
</style>
<div>
    <h2 style="font-weight:bold;text-align:center">Product Types Mangement</h2>
    <div style="margin-left:100px;text-align:right">
        @using (Html.BeginForm("LayTuKhoaTimKiemLoaiSP", "TimKiem"))
        {
            <div class="search-bar">
                <input type="text" name="sTuKhoa" placeholder="insert your keyword..">
                <input type="submit" value="">
            </div>
        }
    </div>
</div>
<br />

@grid.GetHtml(
            tableStyle: "table table-bordered table-condensed table-responsive",
            headerStyle: "gridHead",
            footerStyle: "gridHead",
            rowStyle: "gridRow",
            alternatingRowStyle: "gridAlter",
            columns: grid.Columns(
                            grid.Column("MALOAI", "ID"),
                            grid.Column("TENLOAI", "Type"),
                            grid.Column(format: p => @Html.ActionLink("Create", "TaoMoi", null, new { @class = "btn btn-default" })),
                           grid.Column(format: p => @Html.ActionLink("Edit", "ChinhSua", new { @MALOAI = p.MALOAI }, new { @class = "btn btn-success" })),
                           grid.Column(format: p => @Html.ActionLink("Delete", "Xoa", new { @MALOAI = p.MALOAI }, new { @class = "btn btn-danger" }))
                            ))



