<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    
    <style>
        k {
            color: aqua;
        }

        .social {
            text-align: center;
            padding-bottom: 80px;
        }

        ul.social-icons li {
            list-style: none;
            display: inline-block;
            margin: 10px;
        }

        ul.ava li {
            list-style: none;
            display: inline-block;
            margin: 70px;
        }

        ul.social-icons li a {
            opacity: 0.9;
        }

            ul.social-icons li a:hover {
                opacity: 5;
            }

        .navbar {
            overflow: visible;
            text-align: right;
            font-family: Times New Roman;
            font-size: 35px;
            word-spacing: 30px;
            letter-spacing: 2px;
        }

        ul.navbar-icons li {
            list-style: none;
            display: inline-block;
            margin: 3px;
        }

        .logogroup {
            max-width: 150px;
            width: 150px;
            max-height: 150px;
            height: 150px;
            padding: 0;
            border: 3px outset #00FFFF;
            -webkit-border-radius: 999px;
            -moz-border-radius: 999px;
            border-radius: 999px;
            margin-top: 2%;
            margin-left: 45%;
        }

        .avatar {
            max-width: 155px;
            width: 155px;
            max-height: 155px;
            height: 155px;
            padding: 0;
            border: 3px inset #999999;
            -webkit-border-radius: 999px;
            -moz-border-radius: 999px;
            border-radius: 999px;
            margin-top: 5%;
            margin-left: 22%;
        }
    </style>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" media="all" href="Content/960.css" />
    <link rel="stylesheet" type="text/css" media="all" href="Content/reset.css" />
    <link rel="stylesheet" type="text/css" media="all" href="Content/text.css" />
    <link rel="stylesheet" type="text/css" media="all" href="style.css" />
    <link rel="stylesheet" type="text/css" media="all" href="themes/brown/style.css" />
   
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClI-QflHC9iOa2088UE4V1i02ll1sGXHA&sensor=false"></script>
    <script>
    function initialize() {
        var myLatlng = new google.maps.LatLng(10.7637958, 106.6780009, 17);
        var mapOptions = {
            zoom: 9,
            center: myLatlng
        };

        var map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);

        var contentString = "<table><tr ><th>TPBakery</th></tr><tr><td>Address: 172 Tran Phu Street</td></tr></table>";

        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: 'TPBakery'
            
        });
        infowindow.open(map, marker);
    }

    google.maps.event.addDomListener(window, 'load', initialize);


    </script>
    <style>
        #map_canvas {
            width: 99%;
            height: 200px;
            border: solid 1px #ccc;
        }
    </style>
</head>
<body>
    <div id="warp">

        <div id="main" class="container_16"  style="padding-top:150px">
            @*@{Html.RenderAction("Menu", "MyComponent");}*@
            
            <div style="font-size:18px">
                <table border="1" >
                    <tr >
                        <td width="49%" height="100px" style="padding-top:30px">
                            <strong>HotLine:</strong> 18001090<br />
                            <strong>Gmail:</strong> Tocpheo123@gmail.com<br />
                            <strong>Website:</strong> nhom10.tk<br />
                            <strong>Fanpage:</strong> twitter.com/Tocpheobakery<br />
                        </td>
                        <td width="51%"><div align="center">Please note I no longer do cake orders in VietNam. My apologies! If you’re interested in sponsored posts, working together, you have a burning question or just want to say hi, please do so here!^^ </div></td>
                    </tr>
                    <tr>
                        <td height="44">
                            <br />
                            <em>172 Tran Phu Street, District 1, HCM city</em>
                        </td>
                        <td>
                            
                            <div align="left"><strong>Name:</strong></div>
                            
                            <div align="center">
                                <input name="NameCus" type="text" style="margin-left:5%" size="50" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br />
                            <em>85 Tu Xuong Street, District 3, HCM city</em>
                        </td>
                        <td>
                            
                                <div align="left"><strong>Email:</strong></div>
                           

                            <div align="center">
                                <input name="EmailCus" type="text" style="margin-left:5%" size="50" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br />
                            <em>12 Nguyen Tri Phuong Street, District 10, HCM city</em>
                        </td>
                        <td>
                           
                                <div align="left"><strong>Phone:</strong></div>
                           

                            <div align="center">
                                <input name="PhoneCus" type="text" style="margin-left:5%" size="50" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br />
                            <em>56/8 Nguyen Trai Street, District 5, HCM city</em>
                        </td>
                        <td>
                           
                                <div align="left"><strong>Subject:</strong></div>
                           

                            <div align="center">
                                <input name="SubjectCus" type="text" style="margin-left:5%" size="50" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td width="200" height="35">
                            
                                <div align="left"><strong>Your Message:  </strong></div>
                                <div align="center">
                                    <blockquote>
                                        <p align="center" style="margin-left:6%">
                                            <textarea name="MessCus" cols="51" rows="6"></textarea>
                                        </p>
                                    </blockquote>
                                </div>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <div align="center">
                                <input name="SendCus" type="submit" value="Send" />
                            </div>
                        </td>
                    </tr>
                </table>

            </div>

            <div id="map_canvas">

            </div>


           @{Html.RenderAction("Infor", "MyComponent");}
           @{Html.RenderAction("Footer", "MyComponent");}

          
        </div>

    </div>
</body>
</html>