@model IEnumerable<PheoBakery.Models.SANPHAM>
<div class="clear"></div>
<div id="fresh">
    <div class="container_16">
        <div id="freshCake" class="grid_16">
            
            <div class="headLine grid_14" style="padding-left:45px">
                <h3>Hot Cake</h3>
            </div>
           
        </div>
        <div class="newCakes">
            <div class="scroller">

                @foreach (var item in Model)
                {
                    <div class="newCake">
                        <a href="@Url.Action("XemChiTiet","SANPHAMs", new { MASP = @item.MASP })">

                            <img src="@Url.Content("~/Content/ckfinder/core/connector/aspx/" + @item.HINHANH)" style="padding-left:10px" width="220" height="215" />
                        </a>
                    </div>
                        
                }
            </div>
        </div>
        </div>
        <div class="clear"></div>
        </div>