<?php
	session_start();
?>
@{
    ViewBag.Title = "Sign Up";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <style type="text/css">
        .style1 {
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-weight: bold;
        }

        .style2 {
            color: #FF3333;
        }
    </style>
</head>
<body>
    <div id="warp">
        <div id="main" class="container_16">
            <h3 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size:35px;text-align:center">Sign Up</h3>
            @using (Html.BeginForm("DangKy", "Home"))
            {
                if (Session["user"] == null)
                {
                    <div class="MuaHang" style="text-align:center">
                        <table align="center" class="table" style="text-align:left; width:100%">
                            <tr>
                            <tr>
                                <td style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size:25px; text-align:justify;padding-left:150px">Username:</td>
                                <td>
                                    
                                    @Html.TextBox("USERNAME")
                                    <p style="color:red;" id="TB_Username"></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size:25px; text-align:justify;padding-left:150px">Password:</td>
                                <td>
                                   @Html.Password("PASSWORD")
                                    <p style="color:red;" id="TB_Password"></p>
                                   
                                </td>
                            </tr>
                            <tr>
                                <td style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size:25px; text-align:justify;padding-left:150px">Confirm Password:</td>
                                <td>
                                    @Html.Password("CONFIRMPASSWORD")
                                    
                                    <p style="color:red;" id="TB_ConfirmPass"></p>
                                </td>

                            </tr>
                            
                        </table>
                    </div>
                }
                <div class="table-responsive" style="text-align:center;padding:10px">
                    <input type="submit" value="Sign Up" class="btn btn-success" id="btnDangKy" style="width:250px; height:50px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size:30px; color:darkblue;text-align:center">
                </div>
                
            }
            
        </div>
        </div>

   
</body>
</html>
@{Html.RenderAction("Infor", "MyComponent");}
@{Html.RenderAction("Footer", "MyComponent");}

<script type="text/javascript">
    $("#btnDangKy").click(function () {
        var TaiKhoan = $(".TaiKhoan").val();
        var MatKhau = $(".MatKhau").val();
        if (TaiKhoan == "") {
            alert("Enter Your Username");
            return;
        }
        if (MatKhau == "") {
            alert("Enter Your Password");
            return;
        }
    });

</script>