@using PheoBakery.Models
@model List<SanPhamDatHang>
@{
    ViewBag.Title = "Sign Up";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="warp">
    <div id="main" class="container_16">
        <div style="text-align:center" >
            @using (Html.BeginForm("DatHang", "GioHang"))
            {
                if (Session["user"] == null)
                {
                        <table width="800" align="center" style="font-size:30px; font-style:italic ; text-align:center">
                            <tr>
                                <td style="padding-top:50px; text-align:right">Customer's Name:</td>
                                <td style="text-align:center">
                                    @Html.TextBox("TenKhachHang")
                                    <p style="color:red;" id="TB_TenKH"></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:right">Address:</td>
                                <td style="text-align:center">
                                    @Html.TextBox("DiaChi")
                                    <p style="color:red;" id="TB_DiaChi"></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:right">Email:</td>
                                <td style="text-align:center">
                                    <input name="email" placeholder="insert your email..." type="email" required class="Email">
                                </td>

                            </tr>
                            <tr>
                                <td style="text-align:right">Phone Number:</td>
                                <td style="text-align:center">
                                    @Html.TextBox("SoDienThoai")
                                    <p style="color:red;" id="TB_Phone"></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:right">
                                    <input type="submit" value="Sign Up" id="btnDatHang" style="width:250px; height:32px; font-size: 20px" >
                                </td>
                                <td style="text-align:center">
                                    <input type="reset" value="Cancel" id="btnHuy" style="width:250px; height:32px; font-size: 20px">
                                </td>
                            </tr>
                        </table>
                }
                <div >
                    

                </div>

            }
        </div>
    </div>
</div>

@{Html.RenderAction("Infor", "MyComponent");}
@{Html.RenderAction("Footer", "MyComponent");}

@*kiểm tra validition thông qua jquyre*@
<script>
    $("#btnDatHang").click(function () {
        var loi = 0;
        if ($("#TenKhachHang").val() == "") {
            $("#TB_TenKH").text("không để trống trường này");
            loi++;
        }
        else {
            $("#TB_TenKH").text("");
        }
        if ($("#DiaChi").val() == "") {
            $("#TB_DiaChi").text("không để trống trường này");
            loi++;
        }
        else {
            $("#TB_DiaChi").text("");
        }
        if ($("#SoDienThoai").val() == "") {
            $("#TB_Phone").text("không để trống trường này");
            loi++;
        }
        else {
            $("#TB_Phone").text("");
        }
        if (loi != 0) {
            return false;
        }

    });


</script>



