@using PheoBakery.Models;
@model IEnumerable<SANPHAM>
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    IEnumerable<SANPHAM> lstQAM = (IEnumerable<SANPHAM>)ViewBag.lstQAM;
    IEnumerable<SANPHAM> lstMPM = (IEnumerable<SANPHAM>)ViewBag.lstMPM;
    IEnumerable<SANPHAM> lstPKM = (IEnumerable<SANPHAM>)ViewBag.lstPKM;
}

@*

    <div class="warpCart">
        <div class="container_16">
            <h1 class="h1"> ĐỒNG HỒ</h1>
            <div class="product-top">
                <div class="product-one">

                    @Html.Partial("~/Views/SANPHAMs/SanPhamPartial.cshtml", lstQAM)
                </div>
            </div>
        </div>
    </div>

            <div class="container">
                <h1 class="h1"> Mỹ Phẩm</h1>
                <div class="product-top">
                    <div class="product-one">
                        @Html.Partial("~/Views/SANPHAMs/SanPhamPartial.cshtml", lstMPM)
                    </div>
                </div>
            </div>

            <div class="container">
                <h1 class="h1"> Phụ Kiện</h1>
                <div class="product-top">
                    <div class="product-one">
                        @Html.Partial("~/Views/SANPHAMs/SanPhamPartial.cshtml", lstPKM)
                    </div>
                </div>
            </div>
        </div>*@

<body>
    <div id="warp">
        <div id="main" class="container_16">
            @{Html.RenderAction("Slider", "MyComponent");}
            @{Html.RenderAction("SpecialCake", "MyComponent");}
            @{Html.RenderAction("NewCake", "MyComponent");}
            @{Html.RenderAction("InforCake", "MyComponent");}
            @{Html.RenderAction("Infor", "MyComponent");}
            @{Html.RenderAction("Footer", "MyComponent");}
        </div>
    </div>
</body>
<style>
    .h1 {
        text-align: center;
        font-weight: bold;
        font-size: 2em;
        margin: 10px;
        padding: 10px;
    }
</style>