
@using PheoBakery.Models;
@model IEnumerable<KHACHHANG>
@{
    ViewBag.Title = "Manage Account";
    Layout = "~/Views/Admin/AdminQuanTri.cshtml";
    WebGrid grid = new WebGrid(source: Model, rowsPerPage: 10);
}
<style>
    .search-bar input[type="submit"] {
    background: url(../../Content/CssHome/images/search.png)no-repeat 0px 0px;
    outline: none;
    -webkit-appearance: none;
    border: 0;
    width:30px;
}
</style>
<div>
<h2  style="font-weight:bold;text-align:center" >Member Management</h2>
<div style="margin-left:100px;text-align:right" >
    @using (Html.BeginForm("LayTuKhoaTimKiemKhachHang", "TimKiem"))
    {
        <div class="search-bar">
            <input type="text" name="sTuKhoa" placeholder="insert your keyword..">
            <input type="submit" value="">
        </div>
    }
</div>
    </div>
<br />

@grid.GetHtml(
            tableStyle: "table table-bordered table-condensed table-responsive",
            headerStyle: "gridHead",
            footerStyle: "gridHead",
            rowStyle: "gridRow",
            alternatingRowStyle: "gridAlter",
            columns: grid.Columns(
                        grid.Column("MAKH", "Customer"),
                        grid.Column("TENKH", "Customer's Name "),
                         grid.Column("DIACHI", "Customer's Address "),
                        grid.Column("EMAIL", "Customer's Email "),
                         grid.Column("SDT", "Customer's Phone")
                        ))





